<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.css" integrity="sha512-x9WwyMYBnlXMNQ6kQ/Lyzu1NqIhLQKL5Oq6xByfXuRj7s9CskyCbLv/1IjqzJmXwFXWr0ov6jBV7Qbc0hh9nHg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    

    <!-- create header -->
    <header>
        <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo">
                            <h1>Logo</h1>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Team</a>
                                </li>
                                <li>
                                    <a href="#">Work</a>
                                </li>
                                <li>
                                    <a href="#">Pricing</a>
                                </li>
                                 <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </header>

    <main>

        <!-- hero section -->
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-section">
                            <h1>Start something that matters</h1>
                            <p>Stop wasting valuable time with projects that just aren't you.</p>
                            <button>Learn More and Start Today</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- about section -->
        <section class="about">
            <div class="container">
                <div class="col-12">
                    <div class="about-company">
                        <h2>ABOUT THE COMPANY</h2>
                        <p>Key features of our company</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="key-features">
                           <i class="fa-solid fa-computer"></i>
                           <p>Responsive</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                    
                     <div class="col-3">
                        <div class="key-features">
                           <i class="fa-solid fa-computer"></i>
                           <p>Responsive</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="key-features">
                           <i class="fa-solid fa-computer"></i>
                           <p>Responsive</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                     <div class="col-3">
                        <div class="key-features">
                           <i class="fa-solid fa-computer"></i>
                           <p>Responsive</p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </main>

</body>
</html>