<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    

    <div class="layout">

        <aside>
            <div class="cmpname">
                <h1>Company</h1>
                <h1>Name</h1>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Showcase</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                     <li>
                        <a href="#">Designers</a>
                    </li>
                     <li>
                        <a href="#">Packages</a>
                    </li>
                     <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

        </aside>


        <main>

            <section class="title-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="title">
                                <h2>Interior Design</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="showcase">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="showcase-title">
                                <h2>Showcase</h2>
                                <span class="border"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="showcase-image">
                                <img height="500px" src="https://www.w3schools.com/w3images/kitchenconcrete.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="showcase-image">
                                <img height="500px" src="https://www.w3schools.com/w3images/atrium.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="showcase-image">
                                <img height="500px" src="https://www.w3schools.com/w3images/livingroom.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="showcase-image">
                                <img height="500px" src="https://www.w3schools.com/w3images/bedroom.jpg" width="100%" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </section>


        </main>

    </div>

</body>
</html>